<form action="<%= formActionSlug %>" method="POST">
    <input 
        type="text" 
        name="username" 
        placeholder="username" 
        minlength="2" 
        required
        autofocus>
    <input 
        type="password" 
        name="password" 
        placeholder="password" 
        minlength="8" 
        required>
    <button type="submit"><%= title %></button>
</form>