<h1><%= title %></h1>

<form action="/person/create" method="post">
    <!-- NAME -->
    <section>
        <div class="input-group mb-3">
            <input 
                class="form-control" 
                type="text" 
                name="lastname" 
                placeholder="Lastname"
            >
            <input 
                class="form-control" 
                type="text" 
                name="lastnameAtBirth" 
                placeholder="Lastname At Birth"
            > 
        </div>
        <input 
            class="form-control mb-3" 
            type="text" name="firstname" 
            placeholder="Firstname"
        >
        <input 
            class="form-control mb-3" 
            type="text" 
            name="middlename" 
            placeholder="Middlename"
        > 
    </section>
    <!-- GENDER -->
    <section class="input-group mb-3">
        <span class="input-group-text">Gender:</span>
        <select class="form-select" name="gender" required>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </section>
    <!-- DOB, DOD -->
    <section class="input-group mb-3">
        <span class="input-group-text">Date of Birth:</span>
        <input 
            class="form-control" 
            type="date" 
            name="dob"
        >
        <span class="input-group-text">Date of Death</span>
        <input 
            class="form-control" 
            type="date" 
            name="dob"
        >
    </section>
    <!-- PARTNER -->
    <section class="mb-3">
            <label for="partner">Partner</label>
            <select class="form-select" name="partner">
                <!-- TODO: -->
            </select>
    </section>
    <!-- CHILDREN -->
    <section class="mb-3">
        <div>
            <label for="children">Children</label>
            <select class="form-select" name="children" multiple>
                <!-- TODO: -->
            </select>
        </div>
    </section>

    <button class="btn btn-primary">Create</button>
</form>