<h1><%= title %></h1>
<form action="/person/create" method="post">
    <input type="text" id="treeId" name="treeId" hidden>
    <section>
        <input type="text" name="lastname" placeholder="Lastname">
        <input type="text" name="lastnameAtBirth" placeholder="Lastname At Birth"> 
        <input type="text" name="firstname" placeholder="Firstname">
        <input type="text" name="middlename" placeholder="Middlename"> 
    </section>
    <section>
        <label for="gender">Gender</label>
        <select name="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </section>
    <section>
        <label for="dob">Date of birth:</label>
        <input type="date" name="dob">
        <label for="dod">Date of death:</label>
        <input type="date" name="dob">
    </section>
    <section>
        <div>
            <label for="partner">Partner</label>
            <select name="partner">
                <!-- TODO: -->
            </select>
        </div>
        <div>
            <label for="children">Children</label>
            <select name="children" multiple>
                <!-- TODO: -->
            </select>
        </div>
        <div>
            <label for="userRef">userRef</label>
            <select name="userRef">
                <!-- TODO: -->
            </select>
        </div>
    </section>
    <button>Save</button>
</form>

<!-- FIXME: use res.locals instead? -->
<script defer>
    const url = new URLSearchParams(window.location.search)
    document.querySelector('#treeId').value = url.get('tree')
</script>